/* === Fonts === */
@font-face {
  font-family: "Libre Caslon Text";
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf"); }

/*----- Global Setting -----*/
.loader {
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url(../images/loader_rocket.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  z-index: 9999999999999;
  background-size: 30%;
  background-position: center center; }
  .loader.end {
    position: absolute;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle; }

html {
  scroll-behavior: smooth; }

:root {
  --clr-red: #e75b4c;
  --clr-blue: #2330ce;
  --clr-white: white;
  --clr-gray: #eee; }

body {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 20px;
  padding-right: 20px;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory; }
  section > * {
    scroll-snap-align: start; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat"; }

.bg-red {
  background-color: var(--clr-red); }

.bg-blue {
  background: var(--clr-blue);
  color: var(--clr-white); }

.hover-bg-blue:hover {
  background-color: var(--clr-blue);
  color: var(--clr-white); }

.bg_wrapper {
  background: url(../images/header_bg.svg);
  background-position: top;
  background-repeat: no-repeat; }

.rounded-xl {
  border-radius: 18px; }

/*----- Typography -----*/
.text-base {
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 300; }

nav {
  overflow: hidden; }
  nav a {
    text-transform: uppercase;
    position: relative; }
    nav a.active {
      color: var(--clr-red); }
    nav a::after {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background-color: var(--clr-white);
      width: 100%;
      height: 100%;
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
      opacity: 0;
      z-index: -999; }
    nav a:hover::after, nav a.active::after {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1; }

.menu {
  position: relative;
  background-color: var(--clr-white);
  height: 3px;
  width: 25px;
  border-radius: 25%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .menu::before, .menu::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 30px;
    background-color: var(--clr-white);
    right: 0;
    border-radius: 25%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .menu::before {
    top: -10px; }
  .menu::after {
    top: 10px; }

header.open .menu {
  width: 0;
  z-index: 1; }
  header.open .menu::before {
    -webkit-transform: translatey(10px) rotate(-45deg);
            transform: translatey(10px) rotate(-45deg); }
  header.open .menu::after {
    -webkit-transform: translatey(-10px) rotate(45deg);
            transform: translatey(-10px) rotate(45deg); }

header.open nav {
  width: 100%; }

@media screen and (max-width: 768px) {
  nav {
    position: absolute;
    top: 5rem;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 0%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: var(--clr-red); }
    nav a:hover, nav a.active {
      color: var(--clr-white);
      font-weight: bold; } }

/*----- Services Section -----*/
.services > div {
  max-width: 340px; }
  .services > div:hover {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }
  .services > div img {
    width: 93px; }

/*----- Button -----*/
.btn-rounded {
  border-radius: 30px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

/*----- How Works Section -----*/
#how_work .content_inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #how_work .content_inside .icons {
    height: 41px;
    width: 41px;
    background: #eee;
    border-radius: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  #how_work .content_inside:hover .icons {
    background: var(--clr-red);
    color: var(--clr-white);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  #how_work .content_inside:hover h4 {
    font-weight: bold;
    color: var(--clr-red);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

#how_work .line,
#how_work .line-2 {
  position: relative; }
  #how_work .line::after,
  #how_work .line-2::after {
    position: absolute;
    content: "";
    width: 0.25rem;
    height: 200%;
    left: -1.8rem;
    background: #eee;
    z-index: -1; }

#how_work .line::after {
  top: -23px; }

#how_work .line-2::after {
  bottom: 125%; }

#how_work .content .icons svg {
  width: 18px;
  height: 18px; }

#how_work .feature_list .icon {
  width: 15px;
  height: 15px;
  margin-right: 10px; }

/*----- Price Plan section -----*/
#price_plan .icon {
  width: 15px;
  height: 15px;
  margin-right: 10px; }

#price_plan .price_cards > div:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: scale(1.03);
          transform: scale(1.03); }

/*----- Benefits section -----*/
#benefits .connector-img {
  top: 26%;
  left: 50%; }

#benefits .line-1,
#benefits .line-2,
#benefits .line-3,
#benefits .line-4 {
  position: relative; }
  #benefits .line-1::before, #benefits .line-1::after,
  #benefits .line-2::before,
  #benefits .line-2::after,
  #benefits .line-3::before,
  #benefits .line-3::after,
  #benefits .line-4::before,
  #benefits .line-4::after {
    position: absolute;
    content: "";
    background: var(--clr-red); }

#benefits .line-1::before {
  height: 0.25rem;
  width: 55px;
  left: initial;
  right: -70px;
  top: 60px; }

#benefits .line-1::after {
  height: 75px;
  width: 0.25rem;
  left: initial;
  right: -73px;
  top: 60px; }

#benefits .line-2::before {
  height: 0.25rem;
  width: 55px;
  left: -75px;
  right: initial;
  top: 35px; }

#benefits .line-2::after {
  height: 100px;
  width: 0.25rem;
  left: -75px;
  right: initial;
  top: 35px; }

#benefits .line-3::before {
  height: 65px;
  width: 0.25rem;
  left: initial;
  right: 50px;
  top: -60px; }

#benefits .line-3::after {
  height: 0.25rem;
  width: 89px;
  left: initial;
  right: -37px;
  top: -60px; }

#benefits .line-4::before {
  height: 65px;
  width: 0.25rem;
  left: 151px;
  right: initial;
  top: -91px; }

#benefits .line-4::after {
  height: 0.25rem;
  width: 175px;
  left: -20px;
  right: initial;
  top: -95px; }

@media screen and (max-width: 1279px) {
  .line-1::before, .line-1::after,
  .line-2::before,
  .line-2::after,
  .line-3::before,
  .line-3::after,
  .line-4::before,
  .line-4::after {
    display: none; } }

/*----- Testimonial section -----*/
.testimonial_slide {
  background: url(../images/testimonial-bg.png);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat; }

/*----- Footer section -----*/
footer ul li {
  cursor: pointer; }
  footer ul li a {
    margin: 5px 0; }

#footer {
  margin-bottom: 0; }

.footer_left {
  background: url(../images/footer-bg.png);
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat; }

#search_form button[type="submit"] {
  right: 3px;
  background: var(--clr-red); }
  #search_form button[type="submit"]:hover {
    background: #e1321f; }

@media screen and (max-width: 640px) {
  .footer_left {
    background-size: cover; } }

.scrollToTop {
  opacity: 0;
  height: 30px;
  width: 30px;
  bottom: 30px;
  right: 20px;
  background-color: var(--clr-red);
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  stroke: white; }
  .scrollToTop.slideUp {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }

/***** Rocket animation *****/
.fly_animate {
  -webkit-animation: fly_animate 2s ease-in-out 1s infinite alternate forwards;
          animation: fly_animate 2s ease-in-out 1s infinite alternate forwards; }

@-webkit-keyframes fly_animate {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

@keyframes fly_animate {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

/***** Rotate animation *****/
.rotate_animate {
  -webkit-animation: rotate_animate 3s ease-in-out 1s infinite alternate forwards;
          animation: rotate_animate 3s ease-in-out 1s infinite alternate forwards; }

@-webkit-keyframes rotate_animate {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }

@keyframes rotate_animate {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }
/*# sourceMappingURL=main.css.map */