@mixin lines($h: auto, $w: auto, $r: initial, $l: initial, $t: initial) {
  height: $h;
  width: $w;
  left: $l;
  right: $r;
  top: $t;
}

/* === Fonts === */
@font-face {
  font-family: "Libre Caslon Text";
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
}

/*----- Global Setting -----*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
}

:root {
  --clr-red: #e75b4c;
  --clr-blue: #2330ce;
  --clr-white: white;
  --clr-gray: #eee;
}
body {
  transition: all 0.5s ease;
}
section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 20px;
  padding-right: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat";
}
.bg-red {
  background-color: var(--clr-red);
}
.bg-blue {
  background: var(--clr-blue);
  color: var(--clr-white);
}
.hover-bg-blue {
  &:hover {
    background-color: var(--clr-blue);
    color: var(--clr-white);
  }
}
.bg_wrapper {
  background: url(../images/header_bg.svg);
  background-position: top;
  background-repeat: no-repeat;
}
.rounded-xl {
  border-radius: 18px;
}
/*----- Typography -----*/
.text-base {
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 300;
}
// nav hover animation
nav {
  overflow: hidden;
  a {
    text-transform: uppercase;
    &.active {
      color: var(--clr-red);
    }
    position: relative;
    &::before {
      transition: all 0.3s ease;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background-color: var(--clr-white);
      width: 100%;
      height: 100%;
      transform: translateX(100px);
      opacity: 0;
      z-index: -999;
    }
    &:hover,
    &.active {
      &::before {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

// burger menu
.menu {
  position: relative;
  background-color: var(--clr-white);
  height: 3px;
  width: 25px;
  border-radius: 25%;
  cursor: pointer;
  transition: all 0.5s ease;
  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 30px;
    background-color: var(--clr-white);
    right: 0;
    border-radius: 25%;
    transition: all 0.5s ease;
  }
  &::before {
    top: -10px;
  }
  &::after {
    top: 10px;
  }
}

header {
  &.open {
    .menu {
      width: 0;
      z-index: 1;
      &::before {
        transform: translatey(10px) rotate(-45deg);
      }
      &::after {
        transform: translatey(-10px) rotate(45deg);
      }
    }
    nav {
      width: 100%;
    }
  }
}
@media screen and (max-width: 768px) {
  nav {
    position: absolute;
    top: 5rem;
    right: 0;
    flex-direction: column;
    align-items: center;
    width: 0%;
    transition: all 0.5s ease;
    background-color: var(--clr-red);
  }
}

/*----- Services Section -----*/
.services > div {
  max-width: 340px;
  &:hover {
    transition: all 0.2s ease;
    transform: scale(1.03);
  }

  img {
    width: 93px;
  }
}

/*----- Button -----*/

.btn-rounded {
  border-radius: 30px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  flex-shrink: 0;
}

/*----- How Works Section -----*/
#how_work {
  .content_inside {
    display: flex;
    .icons {
      height: 41px;
      width: 41px;
      background: #eee;
      border-radius: 50%;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      .icons {
        background: var(--clr-red);
        color: var(--clr-white);
        transition: all 0.5s ease;
      }
      h4 {
        font-weight: bold;
        color: var(--clr-red);
        transition: all 0.5s ease;
      }
    }
  }

  .line,
  .line-2 {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 0.25rem;
      height: 200%;
      left: -1.8rem;
      background: #eee;
      z-index: -1;
    }
  }
  .line {
    &::after {
      top: -23px;
    }
  }
  .line-2 {
    &::after {
      bottom: 125%;
    }
  }

  .content .icons {
    svg {
      width: 18px;
      height: 18px;
    }
  }
  .feature_list .icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}

/*----- Price Plan section -----*/

#price_plan {
  .icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
  .price_cards > div {
    &:hover {
      transition: all 0.2s ease;
      transform: scale(1.03);
    }
  }
}

/*----- Benefits section -----*/
#benefits {
  .connector-img {
    top: 26%;
    left: 50%;
  }

  .line-1,
  .line-2,
  .line-3,
  .line-4 {
    position: relative;
    &::before,
    &::after {
      position: absolute;
      content: "";
      background: var(--clr-red);
    }
  }

  .line-1 {
    &::before {
      @include lines($h: 0.25rem, $w: 55px, $r: -70px, $t: 60px);
    }
    &::after {
      @include lines($h: 75px, $w: 0.25rem, $r: -73px, $t: 60px);
    }
  }
  .line-2 {
    &::before {
      @include lines($h: 0.25rem, $w: 55px, $l: -75px, $t: 35px);
    }
    &::after {
      @include lines($h: 100px, $w: 0.25rem, $l: -75px, $t: 35px);
    }
  }
  .line-3 {
    &::before {
      @include lines($w: 0.25rem, $h: 65px, $r: 50px, $t: -60px);
    }
    &::after {
      @include lines($w: 89px, $h: 0.25rem, $r: -37px, $t: -60px);
    }
  }
  .line-4 {
    &::before {
      @include lines($w: 0.25rem, $h: 65px, $l: 151px, $t: -91px);
    }
    &::after {
      @include lines($w: 175px, $h: 0.25rem, $l: -20px, $t: -95px);
    }
  }
}
@media screen and (max-width: 1279px) {
  .line-1,
  .line-2,
  .line-3,
  .line-4 {
    &::before,
    &::after {
      display: none;
    }
  }
}

/*----- Testimonial section -----*/
.testimonial_slide {
  background: url(../images/testimonial-bg.png);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}
/*----- Footer section -----*/
footer {
  ul li {
    cursor: pointer;
    a {
      margin: 5px 0;
    }
  }
}
#footer {
  margin-bottom: 0;
}
.footer_left {
  background: url(../images/footer-bg.png);
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}
#search_form {
  button[type="submit"] {
    right: 3px;
    background: var(--clr-red);
    &:hover {
      background: darken($color: #e75b4c, $amount: 10);
    }
  }
}
@media screen and (max-width: 640px) {
  .footer_left {
    background-size: cover;
  }
}

/***** Rocket animation *****/
.fly_animate {
  animation: fly_animate 2s ease-in-out 1s infinite alternate forwards;
}
@keyframes fly_animate {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

/***** Rotate animation *****/
.rotate_animate {
  animation: rotate_animate 3s ease-in-out 1s infinite alternate forwards;
}
@keyframes rotate_animate {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

// page loading animation
.loader {
  transition: 1s all ease-in-out;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url(../images/loader_rocket.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  z-index: 9999999999999;
  background-size: 30%;
  background-position: center center;

  &.end {
    position: absolute;
    transform: translateY(-100%);
  }
}
